<%-include('../partials/header')%>

<section id="show-page">
    <div>Airline: </div>
    <div><%= flight.airline %></div>
    <div>Airport:</div>
    <div><%= flight.airport %></div>
    <div>Flight Number:</div>
    <div><%= flight.flightNo %></div>
    <div>Departure:</div>
    <div><%= flight.departs %></div>
</section>

<!-- add to ticket form below this comment -->


<br><h2>Add Your Destination</h2>
<form id="add-destinations-form" method="POST" action="/flights/<%= flight._id%>/">
    <label>Destinations:
        <select name="airport">
            <option value="AUS">AUS</option>
            <option value="DFW">DFW</option>
            <option value="DEN">DEN</option>
            <option value="LAX">LAX</option>
            <option value="SAN">SAN</option>
        </select>
    </label>
    <label>
        <input type="datetime-local" name="arrival">
    </label>
    <input type="submit" value="Add Destination">
</form>

<form id="add-ticket-form" method="POST" action="/flights/<%= flight._id %>/tickets">
  <label>Seat:
      <input type="text" name="seat">
  </label>
  <label>Price:
      <input type="number" name="price">
  </label>
  <input type="submit" value="Add Ticket">
</form>